*{
    margin: 0;
    padding: 0;
}

.menu h1 {
    font-size: 60px;
    font-family:'Barlow', sans-serif;
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: 50px;
    justify-content: space-around;
}
.menu ul:first-child{
    border-bottom: 5px solid grey;
}
.menu {
    height: 190px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    background: #306294;
    display: flex;
    color: #000;
    flex-direction: column;
}

.menu li {
    display: flex;
	float: left;
	list-style:none;
    font-size: 50px;
    justify-content: first baseline;
}
.menu a {
    color: #000000;
    text-decoration: none;
    font-family:'Barlow', sans-serif;
}
.menu li > a {
    display: flex;
	color:#000;
    text-decoration: none;
    background-color: #306294;
}
.slogan{
    display: flex;
    font-size: 50px;
    font-family:'Barlow', sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: #306294;
}
.menu a:hover{
    background-color: #5486b8;
}
.atalhos{
    display: flex;
    justify-content: flex-end;
}




/* banner */
.header{
    background-image: url(../imagem/dedo.jpg);
    background-size: 1900px;
    width: 100%;
}
.pc_um{
    display: flex;
    width: 600px;
    height: 400px;
    padding-left: 1100px;
    padding-top: 200px;
}
.paragrafo{
    position: relative;
    bottom: 300px;
    font-size: 40px;
    color: #000;
    padding-left: 40px;
}
.h23{
    position: relative;
    bottom: 300px;
    font-size: 50px;
    color: #000;
    padding-left: 40px;
}




/* barinha de pesquisa */
.search-form {
    display: flex;
    align-items: right;
    position: relative;
    top: 30px;
}
.search-form input {
	width:400px;
	height:40px;
	padding:0px 8px;
	float: left;
	border-radius:2px 0px 0px 2px;
    font-size:13px;
}
.search-form button {
    height:45px;
    padding:0px 8px;
	float:right;
	border-radius:2px 2px 2px 2px;
	background: gray;
	font-size:13px;
    font-weight:500;
    color:#fff;
}
.toggle-nav {
    font-size: 50px;
    display: flex;
    top: 5px;
    left: 50px;
}
/* fim da barinha de pesquisa */




/* planos */
.pcs{
    display: flex;
    padding-left: 1200px;
}
.pcs img {
    border-radius: 50%;
}
.textos{
    position: relative;
    top: 240px;
    display: flex;
    font-size: 30px;
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h3{
    position: relative;
    top: 240px;
    display: flex;
    font-size: 30px;
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h2{
    display: flex;
    justify-content: center;
    padding-top: 50px; 
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* footer */
footer{
    display: flex;
    background-image: url(../imagem/boto-1.jpg);
    background-size: cover;
    text-decoration: none;
    list-style-type: none;
}
.logos{
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
}
.contatos{
    display: flex;
    color: #fff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 600px;
}
footer h4{
    display: flex; 
    color: #fff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email{
    color: #fff;
    padding-left: 150px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.telefones{
    color: #fff;
    padding-top: 70px;
    padding-right: 100px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.judicial{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
    padding-left: 100px;
}
footer a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
